# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### **objectives :** 

- List popular languages for Data Science
- List libraries used by Data Scientists
- Creat a simple arithmetic expression

##### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

#### Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. caret
3. pandas

|Data Science Tools|
|------|
|Jupyter notebook|
|Anaconda|
|R studio|

### Below are a few examples of evaluating arithmetic expressions in Python

#### This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author
Seungho Lee